*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair', serif;

    
}
#banner{
    background: url(food.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 240px;
    position: absolute;
    top: -5%;
    left: -2%;
}
.banner-text{
    padding-top: 350px;
}
.banner-text h1{
    color: #412101;
    text-align: center;
    font-size: 130px;
}
.banner-text p{
    color: #8b4600;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
.banner-button{
    text-align: center;
    font-size: 23px;
    margin: 100px auto 0;
}
.banner-button a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    padding: 12px 0;
    color: #ffffff;
    border: 2.5px solid #ffffff;
    transition: color 0.5s;
}
.banner-button a:hover{
    color: black;
}

#sidemenu{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #7e561a;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25;

}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #c5a241;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 50px;
    margin-top: 0px;
}

/*--chefs--*/

#chefs{
    width: 100%;
    padding: 25px 0;
}
.title-text{
    text-align: center;
    padding-bottom:20px;
}
.title-text p{
    margin: auto;
    font-size: 33px;
    color: #3a3a3a;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p:after{
    content: '';
    width: 50%;
    height: 35px;
    background: linear-gradient(#464645,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.title-text h1{
    font-size: 40px;
    text-align: center ;

}
.chefs-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.chefs{
    flex-basis: 50%;
}
.chefs-img{
    flex-basis: 50%;
    margin: auto;
}
.chefs-img img{
    width: 60%;
    border-radius: 10px;
}
.chefs h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: #464645;
    
}
.chefs-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
/*--Recepies--*/

#recepies{
    width: 100%;
    padding: 70px, 0;
    background: #c7beac;
}

.recepies-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100;

}
.omellete{
    flex-basis: 50%;
    
}
.omellete p{
    font-size:30px ;    
}
.omellete h1{
    font-size:44px ;    
    color: rgb(129, 106, 40);
}
.omellete-img{
    flex-basis: 50%;
    margin: auto;
}
.omellete-img img{
    width: 80%;
    border-radius: 10px;

}
.omellette-ing{
    font-size: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}

/*--Recepies2--*/

#pasta{
    width: 100%;
    padding: 70px, 0;
    background: #ffffff;
}
.recepies-box2{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100;

}
.pasta{
    flex-basis: 50%;
    
}
.pasta p{
    font-size:30px ;    
}
.pasta h1{
    font-size:44px ;    
    color: rgb(129, 106, 40);
}
.pasta-img{
    flex-basis: 50%;
    margin: auto;
}
.pasta-img img{
    width: 80%;
    border-radius: 10px;

}
.pasta-ing{
    font-size: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}

/*--Recepies3--*/

#pizza{
    width: 100%;
    padding: 70px, 0;
    background: #c7beac;
}
.recepies-box3{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100;

}
.pizza{
    flex-basis: 50%;
    
}
.pizza p{
    font-size:30px ;    
}
.pizza h1{
    font-size:44px ;    
    color: rgb(129, 106, 40);
}
.pizza-img{
    flex-basis: 50%;
    margin: auto;
}
.pizza-img img{
    width: 80%;
    border-radius: 10px;

}
.pizza-ing{
    font-size: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}


table{

	width: 600px;

	box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);

}

table, td, th{

	padding: 20px;

	border: 1px solid lightgray;

	border-collapse: collapse;

	text-align: center;

	cursor: pointer;

}

td{

	font-size: 18px;

}

th{

	background-color: rgb(82, 61, 17);

	color: white;

}

tr:nth-child(odd){

	background-color: rgb(211, 199, 176);

}

tr:nth-child(odd):hover{

	background-color: rgb(124, 93, 57);

	color: white;

	transform: scale(1.5);

	transition: transform 300ms ease-in;

}

tr:nth-child(even){

	background-color: #ededed;

}

tr:nth-child(even):hover{

	background-color: rgb(255, 255, 255);

	transform: scale(1.5);

	transition: transform 300ms ease-in;


}

/*--Recepies4--*/

#Tacos{
    width: 100%;
    padding: 70px, 0;
    background: #ffffff;
}
.recepies-box4{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100;

}
.Tacos{
    flex-basis: 50%;
    
}
.Tacos p{
    font-size:30px ;    
}
.Tacos h1{
    font-size:44px ;    
    color: rgb(129, 106, 40);
}
.Tacos-img{
    flex-basis: 50%;
    margin: auto;
}
.Tacos-img img{
    width: 80%;
    border-radius: 10px;

}
.Tacos-ing{
    font-size: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}


/*--Recepies5--*/

#Salmon{
    width: 100%;
    padding: 70px, 0;
    background: #c7beac;
}
.recepies-box5{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100;

}
.Salmon{
    flex-basis: 50%;
    
}
.Salmon p{
    font-size:30px ;    
}
.Salmon h1{
    font-size:44px ;    
    color: rgb(129, 106, 40);
}
.Salmon-img{
    flex-basis: 50%;
    margin: auto;
}
.Salmon-img img{
    width: 80%;
    border-radius: 10px;

}
.Salmon-ing{
    font-size: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}


/*--contact--*/

#contact{
    padding: 100px 0;
    background: #fff;
    position: relative;
    
}
.contact-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left,.contact-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.contact-right{
    text-align: right;
}
.contact-row h1{
    margin: 10px;
}
.contact-row p{
    margin: 35px;
}
.contact-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}